body.base_page
{
	background-color: #597eb2;
	margin: 0px;
	padding: 0px;
	font-family:Trebuchet MS, sans-serif;
	font-size:14px;
}

.base_page .maintext
{
	width: 100%;
	background: #f3f0ec url(maintext.gif) top left repeat-y;
	float: left;
}

.base_page .maintext .content
{
 	padding: 0 10px 30px 284px;
}

.base_page .main
{
	padding-left: 80px;
	background:transparent url(top_left.gif) top left no-repeat;
}

.base_page .header
{
	background:transparent url(header_b.png) top left repeat-x;
	height: 369px;
}
.base_page .header .logo a
{
	float: left;
	width: 100%;
	height: 280px;	
}
.base_page .header .header_img
{
	background:transparent url(header00.jpg) top left no-repeat;
	height: 369px;
}

.base_page .path
{
	margin: 20px 10px;
}

.base_page .footer
{
	font-family:Arial, sans-serif;
	font-size:11px;
	color: white;
	padding: 35px 0 15px 152px;
	background:transparent url(footer00.gif) bottom left repeat-x;
	height: 49px;
}

.base_page .clear{clear:both;}

.base_page .err
{
	color: #0202F1;
	padding: 4px 0;
}

/* directions */
.directions { /*margin-top: 20px;*/ display:block; font-family:Arial, Helvetica, sans-serif; float: left; }
.directions dl { margin-left: 8px; /*margin-right: 10px;*/ padding: 0; width:250px; /*height: 100px;*/ padding-bottom: 20px; float:left; }
.directions dl#leds { margin-right: 30px; }
.directions dl#supply { margin-right: 30px; }
.directions dl#ledlamps { margin-right: 30px; }
.directions dt { height: 34px; background-repeat: no-repeat; }
.directions #leds dt a { width:235px; height:34px; display:block; background: url(but2_led.gif) no-repeat 0 0; }
.directions #leds dt a:hover { background-position: 0 -34px; }
.directions #leddevices dt a { width:235px; height:34px; display:block; background: url(but2_lee.gif) no-repeat 0 0; }
.directions #leddevices dt a:hover { background-position: 0 -34px; }
.directions #lightcontrol dt a { width:235px; height:34px; display:block; background: url(but2_lig.gif) no-repeat  0 0; }
.directions #lightcontrol dt a:hover { background-position: 0 -34px; }
.directions #supply {background: url(http://www.ledrushop.ru/images/rst.gif) no-repeat center bottom;}
.directions #supply dt a { width:235px; height:34px; display:block; background: url(but2_sup.gif) no-repeat  0 0; }
.directions #supply dt a:hover { background-position: 0 -34px; }
.directions #relays dt a { width:235px; height:34px; display:block; background: url(http://www.ledrushop.ru/img/style/home/but2_relays.gif) no-repeat 0 0; }
.directions #relays dt a:hover { background-position: 0 -34px; }
.directions #components dt a { width:235px; height:34px; display:block; background: url(http://www.ledrushop.ru/img/style/home/but2_components.gif) no-repeat  0 0; }
.directions #components dt a:hover { background-position: 0 -34px; }
.directions dt span { display:none; }
.directions ul { margin-top: 8px; margin-left: 32px; }
.directions li { list-style-position: outside; list-style-image: url(bullet00.gif); }

.base_page .main_right
{
	float: left;
	padding-left: 30px;
	padding-bottom: 40px;
}
.base_page .main_right #str_req, .base_page .main_right #reg_email, .base_page .main_right #reg_pwd
{
	width: 211px;
}
#str_req
fieldset { margin:0; padding:0; border:none; }

/* Счетчик введенных символов */
#limited_text_counter { margin-top: 20px; }
#limited_text_counter .field { width: 59px; }
#limited_text_counter .field INPUT { width: 40px; /*text-align:left; border:none; margin:-1px 0; padding: 0 1px;*/ }

.hot
{
	background:transparent url(http://www.ledrushop.ru/img/style/bg_err_param.gif) top right no-repeat;
}
.navigator{text-align: center; margin: 20px; font-size: 14px;}
.navigator li{text-align:center; display:inline; border: 1px solid #ccc; background-color: #DFDCD2; margin: 0 1px; padding: 3px;}
.navigator .current a{color:red; text-decoration: underline;}
/*----------------------------общие стили----------------------*/

A { color: #004A89; text-decoration:none; font-weight: bold; }
.menu a, .topmenu a{font-weight: normal; text-decoration:none;}
A:hover { text-decoration:underline; }
img { border: none; }

H1 { font-size: 18px; padding: 15px 0 18px 0; margin:0; color:#3F5098; font-weight: normal; text-transform:uppercase; }
H2 { font-size: 18px; padding: 10px 18px; margin: 0; color:#3F5098; font-weight: normal; text-transform: none; }
H3 { font-size: 12px; padding: 15px 18px; margin: 0; color:#3F5098; font-weight: bold; text-transform: none;}
H4 { font-size: 15px; padding: 16px 0 8px 0; padding:0; color:#333333; font-weight: bold;}
H5 { font-size: 15px; padding: 0; margin: 1px 0 8px 0; color:#4b5264; font-weight: bold;}

P { margin:0.5em 0; padding:0; /*text-indent: 1em;*/}
P#first { margin:0.5em 0; padding:0; text-indent: 0;}
DL { margin:0; padding:0; }
DT { margin:0; padding:0; }
DD { margin:0; padding:0; }
OL { margin:0; padding:0; }
UL { margin:0; padding:0; }
.maintext OL { margin:0; padding:0 0 0 20px; }
.maintext UL { margin:0; padding:0 0 0 20px; }
LI { margin:0; padding:0; }
fieldset { margin:0; padding:0; border:none; }

/* Форматирование таблиц */
TABLE {}
TH { background-color:#F4F8FB; /* #DFE9F3 */ height:30px; text-align:center; font-weight:bold; font-size:12px;  border-top: #FE3432 1px solid; }

.row0 { background-color:#FFFFFF; }
.row1 { background-color:#EFF7FF; }
.row0:hover { background-color:#FFFFCC; }
.row1:hover { background-color:#FFFFCC; }

HR { clear: both; display:block; width: 96%; text-align:center; border-top: #AEB5C0 1px solid; border-bottom:none; border-left: none; border-right: none; line-height: 0px; height: 0px; }

.maintext FORM{ margin: 0; padding: 0;}
.button { text-align:center; }

/*---- path_to_page ----*/
ul.path_to_page { list-style:none; padding: 0; margin:0; }
ul.path_to_page li { float:left; margin: 2px 0 2px 8px; padding:0; }
ul.path_to_page span { padding-left: 8px; color:#666666; }
/* add 14-06-2009 */

/*----------------------------------------------------------------------------*/
/* tbl_prices */
.tbl_prices { width: 690px; }
.tbl_prices TABLE { margin: 0; padding: 0; }
.tbl_prices TR { background: url(http://www.ledrushop.ru/img/style/bg_dot.gif) repeat-x 0 13px; vertical-align:top; }
.tbl_prices TD { padding: 2px 0; }
.tbl_prices span { background-color:#FFFFFF; padding-right: 8px; }
.tbl_prices a { background-color:#FFFFFF; padding-left: 8px; }
.tbl_prices #left {float: left; width: 45%; }
.tbl_prices #right {float: right; width: 45%; }