@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');
body{
    min-width: 320px;
    font-family: "Open Sans", "Arial", sans-serif ;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    padding: 0;
    margin: -16px 0 0 0;
}
header, section, footer{
    margin: 0 10px;
}
.head-wrapper{
    background-color: #f6f2f2;
    width: 100%;
}
.main-nav{
    background-color: #313030;
    min-height: 89px;
}
.main-nav__list{
    padding: 0 !important;
}
.main-nav__item{
    list-style: none;
    text-align: center;
    border-top: 1px solid #4c4c4c;
    border-bottom: 2px solid #272727;
}
.main-nav__item:hover{
    background-color: #ff3f40;
}
.main-nav__item a{
    font-size: 14px;
    line-height: 50px;
    font-weight: bold;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: uppercase;
}
section{
    padding:50px 0;
}
h1{
    font-size: 35px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 !important;
}
.common-info__organization{
    margin-bottom: 50px;
}
.common-info__organization a{
    display: inline-block;
    padding: 13px;
    width: 227px;
    border-radius: 4px;
    background-color: #ff2d2d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.common-info__video{
    box-shadow: 4px -6px 30px 13px rgba(0, 0, 0, 0.17);
    width: 550px;
    height: 355px;
    margin: 0 auto;
}
.common-info__video > video{
    width: 98vw !important;
    max-width: 550px;
}
.provide__info{
    margin-bottom: 50px;
}
.provide__info h2{
    margin: 0 !important;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}
.provide__info a{
    display: inline-block;
    padding: 11px;
    width: 227px;
    border-radius: 4px;
    border: solid #ff5555 2px;
    color: #ff5555;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.provide__list-item > h3{
    font-size: 24px;
    line-height: 24px;
    margin: 22px 0 0 0 !important;
    font-weight: 600;
}
footer{
    border-top: 2px solid #f2f2f2;
    min-height: 93px;
}
@media (min-width: 768px){
    header, section, footer{
        margin: 0 10px;
    }
    .main-nav__list{
        display: flex;
        justify-content: center;
    }
    .main-nav__item{
        padding: 0 24px;
        border: none;
    }
    .main-nav__item a{
        line-height: 89px;
    }
    section{
        padding:70px 0;
    }
    h1{
        font-size: 60px;
        line-height: 72px;
        margin: 0;
        font-weight: 900;
    }
    .provide__info{
        margin-bottom: 70px;
    }
    .provide__info h2{
        margin: 0 !important;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 55px;
    }
    .provide__info p{
        margin: 40px 0 55px 0;
    }
    .provide__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .provide__list-item{
        width: 47.5%;
        margin-bottom: 34px;
    }
    footer{
         margin-top: -50px;
     }
}

@media (min-width: 1260px){
    header, section, footer{
        width: 1250px;
        margin: 0 auto;
    }
    section{
        padding:110px 0;
    }
    .provide{
        display: flex;
        justify-content: space-between;
    }
    .provide > div{
        width: 48%;
    }
    .common-info{
        display: flex;
        justify-content: space-between;
    }
    .common-info__video {
        margin: 0;
    }
    .common-info__organization{
        width: 40%;
        margin-bottom: 0;
    }
}
